table {
  border: 5px solid black;
  font-family: Arial, sans-serif;
  text-align: center;
}

td {
  border: 1px solid black;
  font-family: Arial, sans-serif;
  text-align: center;
  height: 25px;
  width: 80px;
  font-weight: bold;
}

th {
  border: 1px solid black;
  font-family: Arial, sans-serif;
  text-align: center;
  height: 25px;
}

#aInput {
  text-align: center;
  width: 80px;
}
  
#bInput {
  text-align: center;
  width: 80px;
}

#cInput {
  text-align: center;
  width: 80px;
