td {
  border: 1px solid black;
  font-family: 'Prata', serif;
  font-size: 25px;
  text-align: center;
  height: 50px;
  width: 120px;
  font-weight: bold;
  margin: 20px;
  background-color: #292826;
  color: #F9D342;
}

th {
  border: 1px solid black;
  font-family: Computer-Modern;
  font-size: 25px;
  text-align: center;
  height: 60px;
  width: 150px;
  background-color: #292826;
  color: #F9D342;
}

input {
  text-align: center;
  color: #F4A950;
  background-color: #161B21;
  width: 100px;
  height: 35px;
  font-size: 25px;
}
