table {
  border: 5px solid black;
  font-family: Arial, sans-serif;
  text-align: center;
}

td {
  border: 1px solid black;
  font-family: Arial, sans-serif;
  text-align: center;
  height: 25px;
}

th {
  border: 1px solid black;
  font-family: Arial, sans-serif;
  text-align: center;
  height: 25px;
}

